<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       <httpProtocol>
  <customHeaders>
    <add name="Cross-Origin-Opener-Policy" value="same-origin" />
    <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
  </customHeaders>
</httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="login.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
        </staticContent>
    </system.webServer>
</configuration>
