<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- index.html: always revalidate with the server -->
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control"
               value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <!-- Hashed/versioned static assets: cache for 1 year -->
  <system.webServer>
    <staticContent>
      <clientCache
        cacheControlMode="UseMaxAge"
        cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>

</configuration>